In [ ]:
a = input()
b = list(map(int,list(a)))
even = 0
odd = 0
empty1 = []
empty2 = []

for i in range(len(b)):
  if b[i]%2==0:
    even+=1
    print("even")
    empty1.append("even")

  else:
    odd+=1
    print("odd")
    empty2.append("odd")

print(even)
print(odd)
print(empty1) 
print(empty2)

8776655432546
even
odd
odd
even
even
odd
odd
even
odd
even
odd
even
even
7
6
['even', 'even', 'even', 'even', 'even', 'even', 'even']
['odd', 'odd', 'odd', 'odd', 'odd', 'odd']

In [ ]:
a = 1,2,3,4,5,6 #here we want to know the total sum()'+' of element in given varible
b = sum(a)         #basic for how  sum() function works
print(b)

21

In [ ]:
num =(10)      #take as int data
sum = 0        #take a empty variable for storing data when loop iterates 
for i in range (1,num+1): #syntax(iterable,sum)
  sum +=i
print(sum)

55

In [ ]:
mobiles = ['iphone','oneplus','mi','realme',"oppo"]                   #list
for i in mobiles:                                                     #loop
  if i=='iphone':                                                     #condition ,comparision operator "=="
    print("this is iphone")                                                      
  else:
    print("this is not iphone")

this is iphone
this is not iphone
this is not iphone
this is not iphone
this is not iphone

In [ ]:
c=0
while c<10:
  c+=1
  print(c)
else:
  print('complete')

1
2
3
4
5
6
7
8
9
10
complete

In [ ]:
mohan =(1,3.3,'kiran')
print(type(mohan))

<class 'tuple'>

In [ ]:
mohan =(1,2.3,'kiran')                       #index starts from zero
print(mohan[2])

kiran

In [ ]:
"reputations in tuple" #use (*)
kiran=(1,3.3,"chiru")
print(kiran*3)

(1, 3.3, 'chiru', 1, 3.3, 'chiru', 1, 3.3, 'chiru')

In [ ]:
"concadinations in tuple(as same as reputations)"
mohan=(1,2,3,4,5)
chiru=(6,7,8,9,)
print(mohan+chiru)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
"membership operation in tuple"         #membership operators in,not in 
chiru=(1,3,4,5,6)
print(6 in chiru)

True

In [ ]:
mohan=(1,2,3,4,5)
print(6in mohan)

False

In [ ]:
"iterations in tuple"
a=(4,5,6,7)
for i in a:
  print(i)

4
5
6
7

In [ ]:
a="chiru better in reading"
a2=a.replace("chiru","mohan")
print(a2)
#replace function in strings

mohan better in reading

In [ ]:
#upper functions in strings is use to change small letters to capital letters 
m="this is weird thing i never saw before"
m2=m.upper()
print(m2)

THIS IS WEIRD THING I NEVER SAW BEFORE

In [ ]:
#lower functions in strings use to change capital letter to small letter
name="HE IS VERY IRRITATED PERSON"
name2=name.lower()
print(name2)

he is very irritated person

In [ ]:
#strip function is use to eliminate space
r="          look at vibes"
r2=r.strip()
print(r2)

look at vibes

In [ ]:
'''
startswith() string method checks whether a string with a paticular substring.
if the string starts with a specified substring,the startswith() method 
returns true,otherwise,the function returns false
'''
karma="me"
print(karma.startswith("m"))

True

In [ ]:
#endswith
me="arey entraidhi"
print(me.endswith('i'))

True

In [ ]:
#formate
print("my name is {}".format('kiran'))

my name is kiran

In [ ]:
'''
sets allowed  unordered element, set elememts are unique, duplicate elememts not 
allowed. a set itself may be modified but the elements contained in the set 
must be of an immutable type
'''
s={1,1,2,2,3,3,4}
print(s)

{1, 2, 3, 4}

In [ ]:
#sets union
t1={1,2,3,4,5}
t2={78,80,90,1,2,3,10}
print(t1.union(t2))

{1, 2, 3, 4, 5, 10, 78, 80, 90}

In [ ]:
#sets intersection (common elements printed)
y1={1,2,3,4,5,6}
y2={56,67,88,2,4,5,6}
print(y1.intersection(y2))

{2, 4, 5, 6}

In [ ]:
t=2
print(t)

2

In [ ]:
a = input()
print(a)

2 3 4 5 6 7
2 3 4 5 6 7

In [ ]:
a = input()
b = input()
print(a)
print(b)

5 3
1 2 3 4 5
5 3
1 2 3 4 5

In [ ]:
a = input()
b = input()
c = input()
print(a)
print(b)
print(c)

2 4
2 4
2 4
2 4
2 4
2 4

In [ ]:
a=input()
b=input()
c=input()
print(a,b,c)

2
4
5
2 4 5

In [ ]:
m=input()
r=input()
c=input()
print(m)
print(r)
print(c)

2 5
2 5 6
2 4 5
2 5
2 5 6
2 4 5

In [ ]:
a = input()    #joining space
b = list(a)
print(" ".join(b))

guvi
g u v i

In [ ]:
a=input()
for i in a.split(" "):
  print(i)

2.3 4.5 7.8
2.3
4.5
7.8

In [ ]:
a = input()
for i in a:
  print(i)

guvigeek
g
u
v
i
g
e
e
k

In [ ]:
a = input()
b =list(a)
print(",".join(a))

guvi
g,u,v,i

In [ ]:
num=int(input())
sum=0
for i in range(1,num+1):
  sum+=i
print(sum)

9
45

In [ ]:
t = input()
for line in range(3):
  print(t)

3
3
3
3

In [ ]:
data = int(input())
for i in range(2,data+1):
    if i%2==0:
      print(i)

30
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
t =input()
print(t[::-1])

guvi
ivug

In [ ]:
num = list(input())
print(" ".join(num))    #using join gap b/w given elements

346
3 4 6

In [ ]:
h= input()
b=list(map(int,h))
sum = 0
for i in range (len(b)):
  sum+=b[i]
print(sum)

124
7

In [ ]:
h=int(input())
for i in range(1,h+1): #it goes 1 to 5
  print(i)

5
1
2
3
4
5

In [ ]:
data =int(input())
for i in range(data,0,-1):  #it goes 10 to 1
  print(i)

10
10
9
8
7
6
5
4
3
2
1

In [ ]:
a = int(input())
print(a*1000)     # multipply
print(a*100000)

1
1000
100000

In [ ]:
a = int(input())
b = int(input()) #multiply
a*b

6
8

48

In [ ]:
a = int(input())
c = ""
for i in range(1,4):
  c =c+str(a*i) + " "
print(c)

2
2 4 6

In [ ]:
data =  int (input())
if data%2==0:
  print("even")
else:
  print("odd")

3
odd

In [ ]:
li =[1,2,"chiru",4,5,6,7,7,7,7,4] #slicing method
print(li[1:6])

[2, 'chiru', 4, 5, 6]

In [ ]:
li1 =[1,2,3,4,5,"riuireu","hier",9] #slicing method
print(li1[0:6])

[1, 2, 3, 4, 5, 'riuireu']

In [ ]:
my_dictionary = {"chiru":"tankam","mohan":"nalagangulla","chadalawada":"mca","bikes":["r15","RE","pulsar","vespa"]}
print(my_dictionary["chiru"])
print(my_dictionary["mohan"])
print(my_dictionary["chadalawada"])
print(my_dictionary.keys())        #use to call the keys
print(my_dictionary.items())       #use to call the items
print(my_dictionary.values())      #use to call the values

tankam
nalagangulla
mca
dict_keys(['chiru', 'mohan', 'chadalawada', 'bikes'])
dict_items([('chiru', 'tankam'), ('mohan', 'nalagangulla'), ('chadalawada', 'mca'), ('bikes', ['r15', 'RE', 'pulsar', 'vespa'])])
dict_values(['tankam', 'nalagangulla', 'mca', ['r15', 'RE', 'pulsar', 'vespa']])

In [ ]:
for i in my_dictionary.keys():
  print(i)

chiru
mohan
chadalawada
bikes

In [ ]:
for i in my_dictionary.items():
  print(i)

('chiru', 'tankam')
('mohan', 'nalagangulla')
('chadalawada', 'mca')
('bikes', ['r15', 'RE', 'pulsar', 'vespa'])

In [ ]:
for i in my_dictionary.values():
  print(i)

NameError: ignored

In [ ]:
my_dictionary["bikes"]        #bikes is the key, ['r15', 'RE', 'pulsar', 'vespa'] are value

['r15', 'RE', 'pulsar', 'vespa']

In [ ]:
my_dictionary["bikes"][2]

'pulsar'

In [ ]:
my_dictionary["bikes"][3]

'vespa'

In [ ]:
my_dictionary["bikes"][3]="pleasure"    #update elememt

In [ ]:
print(my_dictionary)

{'chiru': 'tankam', 'mohan': 'nalagangulla', 'chadalawada': 'mca', 'bikes': ['r15', 'RE', 'pulsar', 'pleasure']}

In [ ]:
my_dictionary["bikes"][2]="ismart"

In [ ]:
print(my_dictionary)

{'chiru': 'tankam', 'mohan': 'nalagangulla', 'chadalawada': 'mca', 'bikes': ['r15', 'RE', 'ismart', 'pleasure']}

In [ ]:
email_id =input("please enter your mail id")

dic ={}
for i in range(4):#loop goes for three iterations each time the mail id and passward will be assignes as key and value pairs respectively
  mail_id = input("enter you mailid" )
  password = input("enter your password")
  dic[mail_id] = password

print(dic)

please enter your mail idchiru
enter you mailidchiru
enter your password7878
enter you mailidfghj
enter your password678
enter you mailidghj
enter your password678
enter you mailiddfd
enter your password678
{'chiru': '7878', 'fghj': '678', 'ghj': '678', 'dfd': '678'}

In [ ]:
print("raboyee ")
house_holder_name = input("enter your name please")
house_no           = int(input("enter your house number"))
amount            = int(input("enter your amount"))
dic               = {}
dic[house_no]=[house_holder_name,amount]
print(dic)
for i in range(3):    #we mention 3in range for 3times
  house_holder_name = input("enter your name please")
  house_no          = int(input("enter your house number"))
  amount            = int(input("enter your amount"))
  dic[house_no] = [house_holder_name,amount]
  print(dic)

raboyee
enter your name pleasetyu
enter your house number2
enter your amount67
{2: ['tyu', 67]}
enter your name pleasetyui
enter your house number1
enter your amount679
{2: ['tyu', 67], 1: ['tyui', 679]}
enter your name pleaserty
enter your house number3
enter your amount674
{2: ['tyu', 67], 1: ['tyui', 679], 3: ['rty', 674]}
enter your name pleasetyu
enter your house number678
enter your amount780
{2: ['tyu', 67], 1: ['tyui', 679], 3: ['rty', 674], 678: ['tyu', 780]}

In [ ]:
print("raboyee ")
dic2 = {}
opinion = input("do want to go another housde(yes/no) : ")
while opinion=="yes":
  print("enter below details ")
  house_holder_name = input("enter your name please")
  house_no          = int(input("enter your house number"))
  amount            = int(input("enter your amount"))
  dic2[house_no] = [house_holder_name,amount]
 # print(dic2)
  opinion = input("do want to go another housde(yes/no) : ")
print(dic2)

raboyee
do want to go another housde(yes/no) : yes
enter below details
enter your name pleaseram
enter your house number3
enter your amount453
do want to go another housde(yes/no) : yes
enter below details
enter your name pleaseyut
enter your house number7
enter your amount896
do want to go another housde(yes/no) : no

In [ ]:
print(dic2)

{3: ['ram', 453], 7: ['yut', 896]}

In [ ]:
key_list  = list(dic2.keys())

In [ ]:
value_list  = list(dic2.values())

In [ ]:
key_list

[3, 7]

In [ ]:
value_list

[['ram', 453], ['yut', 896]]

In [ ]:
value_list[0][1]

453

In [ ]:
value_list[1][1]

896

In [ ]:
total_amount = 0         #loop goes for total amount collected from the village
for i in range(len(key_list)): #loop goes for as many as keys
  total_amount = total_amount + value_list[i][1] #in each iteration each values amount will be added to the total amount

print(total_amount)

1349

In [ ]:
a,b = input().split(" ")
c = map(int,(a,b))
print(c)

2 3
<map object at 0x7fdc13d92350>

In [ ]:
li = [34,56,78,84]    
print("length of the list is :",len(li))
newli = []
for i in range (len(li)):

  newli.append(li[i]) #pushing elements into newli
print(newli)

length of the list is : 4
[34, 56, 78, 84]

In [ ]:
maa = input().split(" ") #split the elements with respective space
print(maa)

2 3 4 5 6
['2', '3', '4', '5', '6']

In [ ]:
num = int(input())
for i in range (num,0,-1):
  print(i)   #knowing the range of data from reverse

10
10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range (10,20,2):    #using step size (2)
  print(i)

10
12
14
16
18

In [ ]:
#way to know the data even or odd
num = int(input())
if num%2 == 0:
  print("even")    
else:
  print("odd")

87
odd

In [ ]:
data = list(input())
print(data)   # string elements inside the list
li =[int(data[i]) for i in range(len(data))]
print(li)     # integers elements inside list
even = []
odd  = []
for i in range(len(li)):
  if (li[i]%2 == 0):
    even.append(li[i])
  else:
    odd.append(li[i])
even.sort()
odd.sort()
print(*even)      #"*"unpack
print(*odd)

242455373
['2', '4', '2', '4', '5', '5', '3', '7', '3']
[2, 4, 2, 4, 5, 5, 3, 7, 3]
2 2 4 4
3 3 5 5 7

345667
[3, 4, 5, 6, 6, 7]

In [ ]:
#how to call particular element 
info = input()
print(info[1])

this is
h

In [ ]:
info =input()
print(info)

chiru
chiru

In [ ]:
data ="sherlok" #call the letter which you want,if it is the strig even space matters
print(data[0])

s

In [ ]:
data = input() #to know the length
print(len(data))

this is me
10

In [ ]:
a = input().split(" ") #first we cut the data with respected space using split("")

print(a)              # than it becomes list

tis is me
['tis', 'is', 'me']

In [ ]:
arr = list(map(int,input().split(" ")))
print(arr)

23 4 5 67 89
[23, 4, 5, 67, 89]

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
li =[]            #take an empty list and pushing the data which is in i...
for i in range(12):#....by using append function
  li.append(i)
print(li)           #print(li).....?

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
li = []
st = ""
for i in range(23):       #doubt
  st = st + " " + str(i)   # "=" the right hand side operation will happen and left hand side variable will store the data
print(st)

 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

In [ ]:
st =""
for i in range(12):
  st = st + " "+ str(i)
  print(st)

 0
 0 1
 0 1 2
 0 1 2 3
 0 1 2 3 4
 0 1 2 3 4 5
 0 1 2 3 4 5 6
 0 1 2 3 4 5 6 7
 0 1 2 3 4 5 6 7 8
 0 1 2 3 4 5 6 7 8 9
 0 1 2 3 4 5 6 7 8 9 10
 0 1 2 3 4 5 6 7 8 9 10 11

In [ ]:
# using conditional statement
a = 1
b = 2
c = 3
if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

3

In [ ]:
data = 23.55555
#round of 2 decemal places
print(round(data,2))

23.56

In [ ]:
arr = list(map(float,input().split(" ")))
si = (arr[0]*arr[1]*arr[2])/100
print(round(si,2))     #doubt S.i=p*T*r/100

1000 2 5
100.0

In [ ]:
name = "i'm a geek" 
print(name)
print(type(name))

i'm a geek
<class 'str'>

In [ ]:
cart =[10,20,500,60,200]        
for i in cart:            #doubt
  if i>500:
    print("shoping budget")
    break
print(i)

200

In [ ]:
cart =[10,20,30,500,200]
for i in cart:
  if i>=500:
    print("shoping budget")
    break 
print(i)

shoping budget
500

In [ ]:
for i in range(10):
  if i>=5:
    break
  print(i)

0
1
2
3
4

In [ ]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
file = open("chiru.text","w")  #file handling
file.write('my name is chiru')
print("enter data succesfully")
file.close()

enter data succesfully

In [ ]:
#write a code to get an integer N and print the even values from 1 tilln in a speparateline
data = int(input())
for i in range(2,data+1):
  if i%2==0:
    print(i)

10
2
4
6
8
10

In [ ]:
#write a code get an integer number as input and printthe sum of the digits
num = list(map(int,input()))
sum = 0
for i in range(len(num)):
    sum =sum +num[i]
    print(sum)

124
1
3
7

In [ ]:
#write a code to get an integer N and print the values from N to 1
m = int(input())
for i in range(m,0,-1):
    print(i)

10
10
9
8
7
6
5
4
3
2
1

In [ ]:
#write a code to get the input and print it 5 times
y = int(input())
for i in range(5):
    print(y)

6
6
6
6
6
6

In [ ]:
#write a programe to get a string as input and reverse the string without using temporary variable.                                         
g=input()
print(g[::-1])

chiru
urihc

In [ ]:
#you are provided with two numbers.find and print the smaller number
v = list(map(int,input().split(" ")))
if v[0]<v[1]:
  print(v[0])
else:
  print(v[1])

23 1
1

In [ ]:
n = int(input())
print(n*n)

18
324

In [ ]:
data = input().split(" ")
#print(data) ['mohan', 'yadav']
c = "".join(data)
print(len(c))

loremipsum
10

In [ ]:
#you are given three numbers A,B & C.print the largest amongst these three numbers.
x = int(input())
y = int(input())
z = int(input())
print(max(x,y,z))

1
2
3
3

In [ ]:
#write a code to get 2 integer A. second line contains an integer N
a,b = map(int,input().split(" "))
for i in range (b):

  print(a)

2 3
2
2
2

In [ ]:
#alphabetically sorted set of strings
n     =  int(input())

stArr = input().split(" ")

stArr.sort()

print(*stArr)

3
InfinityWar EndGame Avengers
Avengers EndGame InfinityWar

In [ ]:
num = list(input().split(" "))
print(num[])

I was born on 12 october 1998
1998

In [ ]:
a = input()
print(len(a))

chiruthe great
14

In [ ]:
#print the string in sorted order
starr = input().split(" ")

starr.sort()

print(*starr)

mohan yadav
mohan yadav

In [ ]:
#print the string in sorted order
a = input().split(" ")
v =reversed(a)
print(" ".join(v))

virat kohli
kohli virat

In [ ]:
num = int(input("enter your number"))
count = 0
for i in range (1,num+1):
  if num%i==0:
    count = count+1
  if count==2:
    print("prime number")
  else:
    print("not a prime num")

enter your number9
not a prime num
not a prime num
prime number
prime number
prime number
prime number
prime number
prime number
not a prime num

In [ ]:
num = "5 4 3 6 10 7 8 9"
x   = num.split()
print(min(x))

10

In [ ]:
#reverse the given string
data = input()
num  = reversed(data)

print("".join(num))

guvigeeks
skeegivug

In [ ]:
num = int(input())
count = 0
for i in range(1,num+1):
  if num%i==0:   #7%1 7%2 7%3....
    count = count + 1
  
if count == 2:
  print("prime")
else:
  print("composite")

13
prime

In [ ]:
number = int(input())
count = 0
for i in range(1,number+1):
  if number%i==0:
    count = count + 1

if count == 2:
  print("prime")
else:
  print("composite")

7
prime

In [ ]:
number1 = int(input())
count = 0
for i in range(1,number1+1):
  if number1%i==0:
    count = count + 1
  if count == 2:
    print("prime")
  else:
    print("composite")

7
composite
composite
composite
composite
composite
composite
prime

In [ ]:
num1 = int(input())
count = 0
for i in range (1,num1+1):
  if num1%i==0:
    count = count + 1
  if count == 2:
    print("prime")
  else:
    print("composite")

9
composite
composite
prime
prime
prime
prime
prime
prime
composite

In [ ]:
num3 = int(input())
count = 0
for i in range(1,num3+1):
  if num3%i==0:
     count=count + 1
     
#if count == 2:
  #print("prime")
#else:
  #print("composite")

17
prime

In [ ]:
digit = int(input())
count = 0
for i in range(1,digit+1):
  if digit%i==0:
     count = count + 1
if count==3:
  print("composite")
else:
  print("prime")

15
prime

In [ ]:
a  = int (input()) 
b  = int (input())
c  = int (input())
perimeter = a+b+c
7
print(perimeter
      )

5
6
9

In [ ]:
a = int (input('enter yor number:'))
b = int (input('enter your number:'))
c = int (input('enter your number:'))
perimeter = a + b + C
print(perimeter)

enter yor number:14
enter your number:12
enter your number:6

NameError: ignored